.app-downloads {
  padding: 60px 0 82px;
  background: #EEF1FC;
  h1 {
    font-weight: $font-weight-bold;
    font-size: 36px;
    }
		// .app-downloads__card
    &__subtitle {
      margin-top: 20px;
      margin-bottom: 60px;
      font-size: 20px;
    }

		&__card {
      min-height: 278px;
      border-radius: 15px;
      background-color: #fff;
      padding-bottom: 30px;
      transition: 0.5s;
      padding-top: 30px;

      &:hover {
        transform: scale(1.12);
        .app-downloads__desc {
          opacity: 1;
        }
        .btn-outline-primary {
          color: #fff;
          background-color: $primary;
          border-color: $primary;
          box-shadow: inset 0 0 0 4px #597FE2;
        }
      }
    }

    &__card-icon {
      margin: 20px auto 40px;

      img {
        width: 100px;
        height: auto;
      }
    }
    .btn-outline-primary {
      color: #6D7593;
      padding: 18px 24px;
      border: none;
      box-shadow: inset 0 0 0 4px #EEF1FC;
      font-weight: $font-weight-semi-bold;
      
      &:hover, &:active {
        color: #fff;
        background-color: $primary;
      }
      
    }

    // app-downloads__desc
    &__desc {
      margin-top: 20px;
      opacity: 0;
      transition: .5s;
      font-size: 14px;
      color: #6D7593;
      margin-bottom: 0;
    }

}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
        background-color: $primary;
        border-color: $primary;
      }