.the-footer {
  padding: 68px 0 34px 0;
  background: #E2E7FA;

  &__title {  
    display: block;
    margin-bottom: 11px;
    color: #13274F;
    font-size: 16px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 14px;
  }
  .the-copyright {
    margin-top: 60px;
    font-family: $default-font;
    font-size: 14px;
    line-height: 17px;
    color: rgba($color: #13274F, $alpha: .6);

  }
  
}